h1 {
    text-align: center;
}
body {
    background-color: khaki;
}
.text-verde {
    color: darkgreen;
    background-color: dimgray;
}
.text-vermelho {
    color: red;
    text-align: center;
    background-color: dimgray;
}
.text-azul {
    color: blue;
    text-align: right;
    background-color: dimgray;
}
.text-roxo {
    color: purple;
    text-align: center;
    background-color: dimgray;
}
.text-amarelo {
    color: yellow;
    background-color: dimgray;
}
.text-rosa {
    color: pink;
    text-align: center;
    background-color: dimgray;
}